{
  "presets": ["@babel/preset-env", "@babel/react", "linaria/babel", "@babel/typescript"],
  "env": {
    "production": {
      "plugins": ["emotion"]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true }]]
    }
  }
}
