@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;

  /* --brand-100: #f0abab;
  --brand-200: #ed9a9a;
  --brand-300: #ea8989;
  --brand-400: #e77978;
  --brand-500: #e46867;
  --brand-600: #e15756;
  --brand-700: #cb4e4d;
  --brand-800: #b44645;
  --brand-900: #9e3d3c; */

  --brand-100: #ebf4ff;
  --brand-200: #c3dafe;
  --brand-300: #a3bffa;
  --brand-400: #7f9cf5;
  --brand-500: #667eea;
  --brand-600: #5a67d8;
  --brand-700: #4c51bf;
  --brand-800: #434190;
  --brand-900: #3c366b;

  /* --brand-100: #ebf8ff;
  --brand-200: #bee3f8;
  --brand-300: #90cdf4;
  --brand-400: #63b3ed;
  --brand-500: #4299e1;
  --brand-600: #3182ce;
  --brand-700: #2b6cb0;
  --brand-800: #2c5282;
  --brand-900: #2a4365; */

  --green-100: #e6fffa;
  --green-200: #b2f5ea;
  --green-300: #81e6d9;
  --green-400: #4fd1c5;
  --green-500: #38b2ac;
  --green-600: #319795;
  --green-700: #2c7a7b;
  --green-800: #285e61;
  --green-900: #234e52;

  --error-100: #fff5f5;
  --error-200: #fed7d7;
  --error-300: #feb2b2;
  --error-400: #fc8181;
  --error-500: #f56565;
  --error-600: #e53e3e;
  --error-700: #c53030;
  --error-800: #9b2c2c;
  --error-900: #742a2a;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 32px;
  --xl: 48px;

  --content-width: 1000px;
  --br: 2px;
  --text-color: var(--gray-900);
  --text-color-light: var(--gray-700);
  --text-size: 16px;
  --font-family: 'Source Sans Pro', system-ui, sans-serif;
  --brand-color: var(--brand-600);
  --border-color: var(--gray-500);
  --border-color-hover: var(--gray-600);
  --border-color-focus: var(--gray-800);

  --positive-1: var(--green-500);
  --positive-2: var(--green-600);
  --positive-3: var(--green-800);

  --critical-1: var(--error-400);
  --critical-2: var(--error-600);
  --critical-3: var(--error-800);

  --elevation-1: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13), 0px 0px 2.9px rgba(0, 0, 0, 0.11);
  --elevation-2: 0px 12.8px 28.8px rgba(0, 0, 0, 0.13), 0px 0px 9.2px rgba(0, 0, 0, 0.11);
}

body,
.fxtrot-edge {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--text-size);
  line-height: 1.2em;
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}
