.fx-columns {
  --space: 0;
  --negative: calc(var(--space) * -1);
  display: flex;
  flex-direction: row;
  margin-left: var(--negative);
}

/* Space */
.fx-columns--none {
  --space: 0;
}
.fx-columns--xs {
  --space: 4px;
}
.fx-columns--s {
  --space: 8px;
}
.fx-columns--m {
  --space: 16px;
}
.fx-columns--l {
  --space: 32px;
}
.fx-columns--xl {
  --space: 48px;
}

/* Alignment */
.fx-columns--left {
  justify-content: flex-start;
}

.fx-columns--center {
  justify-content: center;
}
.fx-columns--right {
  justify-content: flex-end;
}
.fx-columns--apart {
  --space: 0;
  justify-content: space-between;
}
.fx-columns--spread {
  --space: 0;
  justify-content: space-evenly;
}

.fx-columns--y-top {
  align-items: flex-start;
}
.fx-columns--y-center {
  align-items: center;
}
.fx-columns--y-bottom {
  align-items: flex-end;
}
