.fx-listbox {
  list-style: none;
  padding: 4px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: var(--br);
  box-shadow: var(--elevation-2);
  outline: 0;
  z-index: 2000;
}
