@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round');

.fx-icon {
  font-family: 'Material Icons';
  color: currentColor;
  vertical-align: sub;
  flex-shrink: 0;
  line-height: 1;
  cursor: inherit;
  user-select: none;
}

/* Variations */
.fx-icon--outlined {
  font-family: 'Material Icons Outlined';
}
.fx-icon--round {
  font-family: 'Material Icons Round';
}
.fx-icon--sharp {
  font-family: 'Material Icons Sharp';
}
.fx-icon--two-tone {
  font-family: 'Material Icons Two Tone';
}

/* Sizes */
.fx-icon--xs {
  font-size: var(--font-size, 14px);
}
.fx-icon--s {
  font-size: var(--font-size, 18px);
}
.fx-icon--m {
  font-size: var(--font-size, 24px);
}
.fx-icon--l {
  font-size: var(--font-size, 32px);
}
.fx-icon--xl {
  font-size: var(--font-size, 48px);
}
