.fx-link {
  --color: var(--green-900);
  color: var(--color);
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  padding: 4px;
  margin: -4px;
  cursor: pointer;
  &:after {
    content: '';
    display: block;
    transform: translateY(-1px);
    width: 90%;
    margin: 0 auto;
    height: 2px;
    background-color: var(--color);
    transition: transform 0.12s ease-in-out;
  }
  &:hover:after {
    transform: translateY(-2px);
  }
}

.fx-link--active {
  --color: var(--brand-color);
}
