.fx-inline {
  --space: 0px;
  --negative: calc(var(--space) * -1);
  --justify-content: flex-start;
  --align-items: flex-start;
  padding-top: 1px;
  &:before {
    content: '';
    display: block;
    margin-top: calc(var(--negative) - 1px);
  }
}

.fx-inline__flex {
  display: flex;
  flex-flow: row wrap;
  margin-top: var(--negative);
  margin-left: var(--negative);
  justify-content: var(--justify-content);
  align-items: var(--align-items);
}

.fx-inline__child {
  display: flex;
  box-sizing: border-box;
  padding-top: var(--space);
  padding-left: var(--space);
}

/** Space */
.fx-inline--xs {
  --space: var(--xs);
}
.fx-inline--s {
  --space: var(--s);
}
.fx-inline--m {
  --space: var(--m);
}
.fx-inline--l {
  --space: var(--l);
}
.fx-inline--xl {
  --space: var(--xl);
}

/** Align X */
.fx-inline--left {
  --justify-content: flex-start;
}
.fx-inline--center {
  --justify-content: center;
}
.fx-inline--right {
  --justify-content: flex-end;
}

/** Align Y */
.fx-inline--y-top {
  --align-items: flex-start;
}
.fx-inline--y-center {
  --align-items: center;
}
.fx-inline--y-bottom {
  --align-items: flex-end;
}

/* Other */
.fx-inline--nowrap {
  & > .fx-inline__flex {
    flex-wrap: nowrap;
    margin-top: 0;
  }
  & .fx-inline__child {
    padding-top: 0;
  }
}

.fx-inlinegrid {
  display: inline-grid;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  white-space: nowrap;
  grid-template-rows: auto;
  justify-content: center;
  grid-template-columns: repeat(var(--columns-count), auto);
  grid-gap: var(--grid-gap, 8px);
  width: 100%;
  height: 100%;
}
