.fx-logo {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  & svg {
    fill: currentColor;
  }
}

.fx-logo--xs {
  --size: 24px;
}
.fx-logo--s {
  --size: 32px;
}
.fx-logo--m {
  --size: 48px;
}
.fx-logo--l {
  --size: 64px;
}
.fx-logo--xl {
  --size: 128px;
}

.fx-logo--squared {
  margin-bottom: -25%;
}
