.fx-textfield {
  --font-size: 14px;
  &:not(:focus-within) {
    --text-color: var(--text-color-light);
  }
  &:focus-within {
    --text-color: var(--text-color);
  }
}

.fx-textfield-wrapper {
  --bg-color: #fff;
  --text-color: var(--gray-900);
  display: inline-flex;
  align-items: center;
  flex-flow: row nowrap;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  padding: 0 var(--padding, 0);
  box-sizing: border-box;
  border-radius: var(--br);
  width: 100%;
  cursor: text;
  color: var(--text-color);
  &:hover {
    --bg-color: #fff;
    --border-color: var(--border-color-hover);
  }
  &:focus-within {
    --border-color: var(--border-color-focus);
  }
  &:disabled {
    --bg-color: var(--gray-100);
    --border-color: transparent;
    pointer-events: none;
  }
}

.fx-textfield-input {
  all: unset;
  font-size: var(--font-size);
  line-height: 1.2;
  border: none;
  background: transparent;
  flex: 1 1 auto;
  padding: 0;
  width: 100%;
  &:focus {
    outline: none;
  }
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
  &::placeholder {
    color: var(--gray-500);
  }
  &[readonly] {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.fx-textfield-clear {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.12s ease-in-out;
  padding-left: var(--btn-space, 0);
  margin-right: calc(-1 * var(--btn-space, 0));
}

.fx-textfield-clear--shown {
  opacity: 1;
  pointer-events: all;
}

.fx-textfield-icon {
  --spacing: calc(var(--padding) / 2);
  display: inline-flex;
  padding-right: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}

/* Sizes */

.fx-textfield--s {
  --btn-space: 2px;
  --padding: 4px;
  & .fx-textfield-wrapper {
    --font-size: 12px;
    height: 26px;
  }
  & .fx-textfield-icon {
    --font-size: 12px;
  }
}
.fx-textfield--m {
  --btn-space: 4px;
  --padding: 8px;

  & .fx-textfield-wrapper {
    --font-size: 14px;
    height: 36px;
  }
  & .fx-textfield-icon {
    --font-size: 18px;
  }
}
.fx-textfield--l {
  --btn-space: 8px;
  --padding: 12px;

  & .fx-textfield-wrapper {
    --font-size: 18px;
    height: 40px;
    padding: 0 12px;
  }
  & .fx-textfield-icon {
    --font-size: 20px;
  }
}

/* Tone */

.fx-textfield--positive .fx-textfield-wrapper {
  --border-color: var(--green-500);
  &:hover {
    --border-color: var(--green-600);
  }
  &:focus-within {
    --border-color: var(--green-800);
  }
}

.fx-textfield--critical .fx-textfield-wrapper {
  --border-color: var(--error-400);
  &:hover {
    --border-color: var(--error-600);
  }
  &:focus-within {
    --border-color: var(--error-800);
  }
}
