.fx-stack {
  --space: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.fx-stack__child {
  padding-bottom: var(--space);
  &:last-child {
    padding-bottom: 0;
  }
}

.fx-stack--xs {
  --space: var(--xs);
}
.fx-stack--s {
  --space: var(--s);
}
.fx-stack--m {
  --space: var(--m);
}
.fx-stack--l {
  --space: var(--l);
}
.fx-stack--xl {
  --space: var(--xl);
}

.fx-stack--left {
  align-items: flex-start;
}
.fx-stack--center {
  align-items: center;
}
.fx-stack--right {
  align-items: flex-end;
}
